-#
-# Copyright 2017, Optimizely and contributors
-#
-# Licensed under the Apache License, Version 2.0 (the "License");
-# you may not use this file except in compliance with the License.
-# You may obtain a copy of the License at
-#
-#    http://www.apache.org/licenses/LICENSE-2.0
-#
-# Unless required by applicable law or agreed to in writing, software
-# distributed under the License is distributed on an "AS IS" BASIS,
-# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
-# See the License for the specific language governing permissions and
-# limitations under the License.
-#

= form_for @config,url: demo_config_path(@config), html: { method: :post }  do |f|
  .row
    .col.col-lg-4
      .form-group
        %label Project ID
        = f.text_field :project_id, class: "form-control"
      .form-group
        %label Experiment Key
        = f.text_field :experiment_key, class: "form-control"
      .form-group
        %label Event Key
        = f.text_field :event_key, class: "form-control"
      .form-group
        = f.submit class: "btn btn-primary",value:"Save"
    .col.col-lg-8
      - if @config.project_configuration_json && !@config.project_configuration_json.empty?
        .form-group
          = f.label :project_configuration_json
          = f.text_area :project_configuration_json,readonly: true, value: generate_json_view(@config.project_configuration_json),:rows => 20 ,class: "form-control"